@charset "utf-8";

@font-face {
    font-family: 'traveling';
    src: url(/font/TravelingTypewriter.ttf);
}
@font-face {
    font-family: 'badlystamped';
    src: url(/font/BadlyStamped.ttf);
}
@font-face {
    font-family: 'UNCLETYP';
    src: url(/font/UNCLETYP.ttf);
}
@font-face {
    font-family: 'Sinami';
    src: url(/font/Sinami\ demo.ttf);
}
@font-face {
    font-family: 'atwriter' ;
    src: url(/font/atwriter.ttf);
}
@font-face {
    font-family: 'Southmore' ;
    src: url(/font/Southmore.ttf);
}
a{
    text-decoration: none;
}
body, .cabecalho{
    background-color: rgb(26, 26, 26);
}
/* CABEÇALHO */
.cabecalho .titulo h1{
    color: white;
    text-align: center;
    font-family: 'Southmore';
    font-size: 40px;
    padding: 1em;
    padding-top: 1em;
    font-style: bold;
}
/* BOTÕES */
.botaosubprincipal h3{
    margin-left: 35px;
    margin-bottom: 10px;
    font-size: 35px;   
}
.botaosubprincipal h3:hover{
    color: burlywood;
    transition: 0.5s;
}
.botoes{
    display: flex;
    justify-content: space-between;
}
.botaosub{
    display: flex;
    margin-right: 30px;
    align-items: center;  
}
.botoes a{
    font-size: 25px;
    margin: 10px 10px;
    color: white;
    font-family: 'Sinami';
    border: 2px solid rgba(255, 255, 255, 0);
    padding: .3rem;
    padding-top: .5rem;
    border-radius: 20% 0 20% 0;
}
.botaosub .botao1:hover, .botaosub .botao2:hover, .botaosub .botao3:hover{
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: rgb(0, 255, 255);
    text-align: center;
    padding: .3rem;
    padding-top: .5rem;
    border: 2px solid white;
    border-radius: 20% 0 20% 0;
    transition: all 0.5s;
}
.botaosub .botao2:hover{
    color: rgb(255, 123, 0);
}
.botaosub .botao3:hover{
    color: rgb(255, 251, 0);
}
/* IMG CASTELO */
.castelinho{
    position: relative;
}
.castelinho1{
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: rgb(231, 231, 231);
}
.castelinho1 img{ 
    height: 25em;
    width: 100%;
    margin: 1.2em;
    object-fit: cover;
    object-position:center;
    /* border: 1px dashed rgb(0, 0, 0); */
}
.legcastelinho{
    position:absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    top: 5em;
    color: white;
    font-family: 'Southmore';
    font-size: 40px;
}
/* PEQUENO AJUSTE - POR ENQUANTO */
.igrejinhadomal{
    width:1000px;
}
/* CORTE 1 E 2 */
.corte1, .corte2{
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    border: 1px thick rgb(255, 216, 204);
    width: 95%;
    border-radius: 95%;
}
/* CORTE NA VERTICAL */
.cortecoluna {
    border: 1px solid white;
    margin: 1em 5em;
}
/* COLUNAS */
.coluna1 h4{
    margin-top: 1em;
    padding-bottom: 1em;
    color: white;
    font-family: 'Sinami';
    font-size: 30px;
    text-align:end;
}
.coluna1 h3{
    color: white;
    font-family: 'Sinami';
    font-size: 30px;
    text-align:end;
}
.coluna2 h4{
    margin-top: 1em;
    padding-bottom: 1em;
    color: white;
    font-family: 'Sinami';
    font-size: 30px;
}
.coluna2 h3{
    color: white;
    font-family: 'Sinami';
    font-size: 30px;
}
.containercoluna{
    padding: 0 2em;
    display: flex;
    justify-content: center;
}
/* IMG IGREJA */
.caixaconteudo1{
    display: flex;
    justify-content: center;
}
.igrejinhadomal1 img{
    margin-right: 2em;
    margin-bottom: 2em;
    float: left;
    height: 40em;
    width: 50%;
    object-fit: cover;
    object-position:  bottom;
    border: 1px transparent white;
    border-radius: 0 10% 10% 0; 
    -webkit-filter: sepia(70%);
    filter: sepia(70%)
}
.igrejinhadomal1 figcaption h4{
    color: rgb(219, 219, 219);
    padding: 1em 6em;
    text-align: justify;
    font-family: 'atwriter';
    font-size: 16px;
}
.igrejinhadomal1 figcaption h2{
    color: rgb(219, 219, 219);
    text-align:start;
    font-family: 'atwriter';
    font-size: 25px;
}
/* BOTOES TESTE */
/* .botoesdeteste{
    padding: 2em 0;
    display: flex;
    justify-content: space-around;
    background: white;
    background: -webkit-linear-gradient(top left, rgb(26, 26, 26) 0%, rgb(255, 175, 70) 30%, rgb(81, 142, 255) 70%, rgb(26, 26, 26) 100%);
    width: 100%;
}
.botoesdeteste a{
    text-decoration: none;
    font-size: 35px;
    color: white;
    font-family: 'Sinami';
} */
/* ECONOMIA/CAUSA/CONSEQUENCIAS
PARTES */

/* transformar os titulos em links e fazer um efeito hover */
.parte1, .parte2, .parte3{
    border: 1px transparent white;
    background: #ffff;
    height: 25em;
    width: 100%;
    text-align: center;  
    font-family: 'atwriter';
    font-size: 24px;
    color: rgb(219, 219, 219);
    border-radius: 0%;
}
.parte1 h2, .parte2 h2, .parte3 h2{
    padding-top: 8em;
    padding-bottom: 1em;
}
.parte1 h2:hover, .parte2 h2:hover, .parte3 h2:hover{
    font-family: 'badlystamped';
    font-size: 24.01px;
}
.parte1 p, .parte2 p, .parte3 p{
    padding: 0 20em;
}
.parte1{
    background: rgb(187, 186, 129);
    color: rgb(63, 63, 63);
    border-radius: 0 20% 0 0;
}
.parte2{
    background: rgb(65, 65, 65);
}
.parte2 p{
    padding:  0 15em;
}
.parte3{
    background: rgb(170, 130, 118);
    border-radius: 0 0 0 20%;
}
/* PACOTE DE IMGS */
.pacoteimgss{
    display: flex;
    margin-top: 12em;
    margin-left: 2em;
    margin-right: 2em;
}
.pacoteimgs img{
    height: 20em;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
    border: 1px transparent white;
    -webkit-filter:sepia(100%);
    filter: sepia(70%);
    filter: gray;
}
.pacoteimg3{
    margin: 1em 2em;
    margin-bottom: 12em;
}
.pacoteimg2 {
    padding-left: 2em;
}
/* TEXTO PACOTE DE IMGS */
.pacoteimgs h4{
    font-family: 'atwriter';
    color: rgb(219, 219, 219);
    margin-top: 1em;
}
.rodape img{
    height: 30em;
    width: 100%;
    object-fit: cover;
    object-position:top ;
    display: flex;
    text-align: left;
    justify-content: center;
    transition: 10s;
    transition-delay: 1s;
    filter: sepia(100%);
}
.rodape img:hover{
    object-position:bottom ;
    transition: 1.5s;
    filter: sepia(30%);
}
.rodapep{
    position:  relative;
    height: 33em;
    width: 100%;
    background: #000;
    background: -webkit-linear-gradient(bottom left, rgb(48, 30, 6) 0%, rgb(180, 119, 39) 30%, rgb(104, 71, 28) 70%, #362b28 100%);
}
.rodape figcaption .h41,.rodape figcaption .h42{
    position:absolute;
    text-align: left;
    color: rgb(219, 219, 219);
    font-family: 'traveling';
    font-size: 15px;
    padding-top: 0em;
    top: 28em;
    height: 10%;
    width: 30%;
    padding-left: 8em;
    font-weight: bold;
}
.rodape figcaption .h42{
    top: 24em;
}